<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<mat-card style="background-color: white">
  <div id="exCenter">
    <div id="exContent">
      <div id="exLeftColumn">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div *ngIf="uniqueProduct && uniqueProduct.length === 0" style="background-color: white; height: 50px;">
              <b style="color: #989898; font-size: 25px">Brak produktów w koszyku</b>
            </div>
            <tr *ngFor="let product of uniqueProduct">
              <!-- List group-->
              <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                  <!-- Custom content-->
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                      <h5 class="mt-0 font-weight-bold mb-2">{{product.name}}</h5>
                      <div class="d-flex align-items-center justify-content-between mt-1">
                        <h6 class="font-weight-bold my-2" style="color: gray">{{product.price}} złotych</h6>   <button class="btn btn-danger" (click)="remove(product)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg></button> </div><br>
                        <div class="container">

                          <div class="row">
                            <div class="col-sm-10 mb-5">
                              <div class="form-check-inline">
                                <button class="btn btn-primary" (click)="plus(product)"><i class="fa fa-plus"></i></button>
                              </div>
                              <div class="form-check-inline">
                                <input (keypress)="numberOnly($event)" (change)="changeQuantityValue(product)" type="text" class="form-control" style="width: 50px" [(ngModel)]="product.quantity">/{{product.stock}}
                              </div>
                              <div class="form-check-inline">
                                <button class="btn btn-primary" (click)="minus(product)"><i class="fa fa-minus"></i></button>
                              </div>

                            </div>
                          </div>

                        </div>


                    </div><img [src]="transform(product.imageBase64)" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                  </div> <!-- End -->
                </li> <!-- End -->

              </ul>
            </tr>
          </div>
        </div>
      </div>
      <div id="exRightColumn">
        <div class="card-body">
          <h5 class="mb-3">Cena łącznie:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Razem:
              <span>{{total| number:'.2-2':'pl'}} PLN</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Dostawa:
              <span>Gratis</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Łącznie:</strong>
                <strong>
                  <p class="mb-0">(włączając VAT)</p>
                </strong>
              </div>
              <span><strong>{{total | number:'.2-2':'pl'}} PLN</strong></span>
            </li>
          </ul>

          <button type="button" class="btn btn-primary btn-block waves-effect waves-light" [disabled]="uniqueProduct && uniqueProduct.length === 0" (click)="order()">Przejdź dalej</button>
         <br> <button type="button" class="btn btn-primary btn-block waves-effect waves-light" (click)="backToList()">Wróć do listy produktów</button>

        </div>
      </div>
      <div class="exClear"></div>
    </div>
  </div>
</mat-card>



